# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# =========================
# FKS Specific Files
# =========================

# Remove _install directory
FKSrepack/_install

# Remove backups directory
FKSrepack/backups

# Remove favicon
FKSrepack/img/favicon.ico

# Remove all errors
FKSrepack/errors/**

# Remove all config files
FKSrepack/scripts/php/config/**

# Remove all autoload files
FKSrepack/scripts/php/autoload/**

# Remove js files
FKSrepack/scripts/js/autoloader.js
FKSrepack/scripts/js/site.js

# Remove all .bkp files
FKSrepack/*.bkp

# Keep .htaccess files
!FKSrepack/.htaccess
!FKSrepack/**/.htaccess

# Keep config template files
!FKSrepack/scripts/php/config/_*