# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# =========================
# FKS Specific Files
# =========================

# Renamed install directory
FKSrepack/_install

# Backups directory
FKSrepack/install/backups

# Remove favicon
FKSrepack/img/favicon.ico

# Clear all errors
FKSrepack/errors/**

# Keep .htaccess file
!FKSrepack/errors/.htaccess

# Remove database connections
FKSrepack/scripts/php/config/connections.php

# Remove java scripts
FKSrepack/scripts/js/autoloader.js
FKSrepack/scripts/js/site.js